<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PatientRegisterController</servlet-name>
        <servlet-class>controller.PatientRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientLoginController</servlet-name>
        <servlet-class>controller.PatientLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientProfileController</servlet-name>
        <servlet-class>controller.PatientProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientInfoController</servlet-name>
        <servlet-class>controller.PatientInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientMetricController</servlet-name>
        <servlet-class>controller.PatientMetricController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorRegisterController</servlet-name>
        <servlet-class>controller.DoctorRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLoginController</servlet-name>
        <servlet-class>controller.DoctorLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorProfileController</servlet-name>
        <servlet-class>controller.DoctorProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorInfoController</servlet-name>
        <servlet-class>controller.DoctorInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorListController</servlet-name>
        <servlet-class>controller.DoctorListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeAppointmentController</servlet-name>
        <servlet-class>controller.MakeAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentHistoryController</servlet-name>
        <servlet-class>controller.AppointmentHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentViewController</servlet-name>
        <servlet-class>controller.AppointmentViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientRegisterController</servlet-name>
        <url-pattern>/patient-register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientLoginController</servlet-name>
        <url-pattern>/patient-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientProfileController</servlet-name>
        <url-pattern>/patient-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientInfoController</servlet-name>
        <url-pattern>/patient-info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientMetricController</servlet-name>
        <url-pattern>/patient-metric</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorRegisterController</servlet-name>
        <url-pattern>/doctor-register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLoginController</servlet-name>
        <url-pattern>/doctor-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorProfileController</servlet-name>
        <url-pattern>/doctor-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorInfoController</servlet-name>
        <url-pattern>/doctor-info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorListController</servlet-name>
        <url-pattern>/doctor-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeAppointmentController</servlet-name>
        <url-pattern>/make-appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentHistoryController</servlet-name>
        <url-pattern>/appointment-history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentViewController</servlet-name>
        <url-pattern>/appointment-view</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
